$primary: #007bff;

  #navigationBar{
    line-height: 113px;
  }
  .navigationBarElement{
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: all 0.1s linear;
    height: 20px;
  }
  .active, .navigationBarElement:hover{
    color: $primary;
    border-bottom: 5px solid $primary;
  }
  @media screen and (max-width: 1199.98px){
    #navigationBar{
      margin: 0 auto;
    }
  }
